<html>
	<head>
		<%- include("../default/head.ejs") %>
	</head>
	<body>
		<div class="container">
			<div class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <div class="card mt-4 w-100 text-center">
                        <div class="card-body">
                            <h2><%- error.title %></h2>
							<p><%- error.message %></p>
							
							<% if(error.link === undefined) { %>
								<a href="/">Return to home</a>
								<script>let returnPage = "/";</script>
							<% } else if(error.link !== false) { %>
								<a href="<%= error.link %>">Continue</a>
								<script>let returnPage = "<%= error.link %>";</script>
							<% } %>
							<script>
								window.history.replaceState(null,"", returnPage);
							</script>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>
