<nav class="navbar pmng-navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><%= site.title %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <% for(let headerLink of Object.values(headerLinks)) { if((allHeader || !headerLink.allHeader) && (headerLink.access === true || hasAccess(headerLink.access))) { if(headerLink.type == "link") { %>
                <li class="nav-item mr-2 <%= isActive(...(headerLink.active || [])) %>">
                    <a class="nav-link" href="<%= headerLink.link %>"><%= headerLink.name %></a>
                </li>
            <% } else { %>
                <li class="nav-item dropdown <%= isActive(...(headerLink.active || [])) %>">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    <%= headerLink.name %>
                </a>
                <div class="dropdown-menu">
                    <% for(let listLink of Object.values(headerLink.list)) { %>
                        <a class="dropdown-item <%= isActive(...(listLink.active || [])) %>" href="<%= listLink.link %>"><%= listLink.name %></a>
                    <% } %>
                </div>
            <% } } } %>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if(allHeader) { %>
                <li class="nav-item mr-5" style="display: none;" id="toggle-socket">
                    <a class="nav-link" href="#" onclick="utils.toggleSocketPause(); return false;">Toggle socket <small>(<span id="toggle-socket-state"></span>)</small></a>
                </li>
                <li class="nav-item mr-2 <%= isActive('account', 'me') %>">
                    <a class="nav-link" href="/panel/users/me">Account</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/panel/login/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="modal-loading" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body" id="loading-content">
            
        </div>
      </div>
    </div>
  </div>