<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        <script>
        let user = JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(user)) %>"));
        let newEmail = <%- newEmail == undefined ? "undefined" : '"' + newEmail + '"' %>;
        let remoteGits = JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(remoteGits)) %>"));
        let settingsData = JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(settingsData)) %>"));
        </script>
        <%- startPageScript("user_me") %>
        
        <div id="page">
            <header>
                <%- include("../default/header.ejs") %>
            </header>
            
            <div id="page-contents">
                <%- include("../default/loading.ejs") %>
                <div class="container-fluid" id="main-container">
                    <div class="row mt-3 mx-3" id="details-row">
                        <div class="w-100">
                            <h3 class="d-inline">My user account:</h3>
                            <div class="btn-group btn-group-sm float-right my-1" role="group">
                                <button onclick="user_me.save()" class="btn btn-primary btn-sm" id="confirm-button"><i class="fas fa-save"></i> Save changes</button>
                                <button onclick="user_me.resetSSOPassword()" class="btn btn-sm btn-info" id="reset-dbautopass"><i class="fas fa-undo-alt"></i> Reset database SSO password</button>
                            </div>
                        </div>
                        <form class="mt-2 w-100" onsubmit="return user_me.save();">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-username" class="mb-1">Username:</label>
                                        <input type="text" required class="form-control always-disabled" id="input-username" disabled>
                                        <small id="name-confirm" class="form-text text-muted">You cannot change your username.</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-fullname" class="mb-1">Fullname:</label>
                                        <input type="text" required class="form-control" id="input-fullname" placeholder="John DOE">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-email" class="mb-1">Email address:</label>
                                        <input type="email" required class="form-control" id="input-email" placeholder="jdoe@example.com">
                                        <small id="email-change" style="display: none;" class="form-text text-muted">Currently changing to <i id="email-change-email"></i>. <a href="#" disabled onclick="return user_me.cancelEmailChange();">Cancel</a></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-password" class="mb-1">Current password:</label>
                                        <input type="password" class="form-control" id="input-password" required minlength="8" placeholder="Required to save any change">
                                        <small id="name-confirm" class="form-text text-muted">Your current password is required to save any change to your account (fullname or email).</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-newpass" class="mb-1">New password:</label>
                                        <input type="password" class="form-control" id="input-newpass" minlength="8" placeholder="Leave empty to keep the current password">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-confirmpass" class="mb-1">New password confirmation:</label>
                                        <input type="password" class="form-control" minlength="8" id="input-confirmpass">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row mx-3" id="usersettings-row">
                        <div class="w-100">
                            <h3 class="d-inline">User settings:</h3>
                            <small class="text-secondary ml-md-3">(automatically saved)</small>
                            <p class="w-100" id="usersettings-status">Loading...</p>
                            <div class="card w-100 mt-2" style="display: none;" id="usersettings-card">
                                <ul class="list-group list-group-flush" id="usersettings-list">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mx-3" id="gitusers-row">
                        <div class="w-100">
                            <h3 class="d-inline">Git providers connection:</h3>
                            <p class="w-100" id="gitusers-status">Loading...</p>
                            <div class="card w-100 mt-2" style="display: none;" id="gitusers-card">
                                <ul class="list-group list-group-flush" id="gitusers-list">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("../default/footer.ejs") %>
        </div>
    </body>
</html>
