<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        
        <header>
            <%- include("../default/header.ejs") %>
        </header>
        <%- include("../default/loading.ejs") %>
        <div class="container-fluid" id="main-container">
            <div class="row mt-3 mx-3" id="cli-row">
                <p>Download the pmng-cli here: <a download href="/static/pmng-cli_installer.js">pmng-cli_installer.js</a></p>
            </div>
        </div>
    </body>
</html>
