<div class="container">
	<div class="card mt-4 pt-3">
        <h3 class="card-title w-100 text-center">Platform Manager - Password reset</h3>
        <div class="card-body">
            <br/><p>Hello <%= fullname %>,</p><br/>
            <p>A request to reset the password for the account <i><%= username %></i> (<%= email %>) has been created.<br/><br/>
            If you didn't create this request, you can safely ignore this email as your current password will not be changed,
            but if you issued this request, please click on the button below or copy paste the link in your browser to create a new password for your account:</p>
            <br/>
            <a class="btn btn-primary mx-auto" style="font-size: 22px;" href="<%= resetlink %>">Reset my password</a>
            <div style="padding-top: 10px;"><a href="<%= resetlink %>" class="mx-auto"><%= resetlink %></a></div>

            <br/><br/>
            <small class="mx-auto text-muted"><%- copyright %></small>
        </div>
    </div>
</div>