<!DOCTYPE html>
<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        <script>
        window.project = JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(project)) %>"));
        window.remoteGits = JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(remoteGits)) %>"));
        window.owner = "<%- owner %>";
        </script>
        <%- startPageScript("project_details") %>
        
        <div id="page">
            <header>
                <%- include("../default/header.ejs") %>
            </header>
            
            <div id="page-contents">
                <%- include("../default/loading.ejs") %>
                <div class="container-fluid" id="main-container">
                    <div class="row mt-3 mx-3" id="details-row">
                        <div class="w-100">
                            <h3 class="d-inline">Project details: <%- project.name %><span id="owner-info"></span></h3>
                            <div class="btn-group btn-group-sm float-right" role="group">
                                <a href="/panel/projects/list" class="my-1 btn btn-sm btn-secondary back-button"><i class="fas fa-arrow-left"></i> Back</a>
                                <a href="/panel/projects/logs/<%- project.name %>" class="my-1 btn btn-sm btn-primary"><i class="fas fa-history"></i> Project logs</a>
                                <a href="/panel/projects/exec/<%- project.name %>" class="my-1 btn btn-sm btn-outline-secondary"><i class="fas fa-terminal"></i> Command shell</a>
                                <button disabled id="toggle-forcepush-btn" onclick="project_details.toggleForcePush()" class="my-1 btn btn-sm btn-info" data-toggle="tooltip" data-placement="bottom" title="Allows or not pushes when an addon or a buildpack has protected the project"><i class="fas fa-check-double"></i> <span id="forcepush-text">Loading...</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mx-3" id="rgitinte-row">
                        <div class="w-100">
                            <h4 class="d-inline">Git integrations:</h4>
                            <span class="float-right">
                                <button class="btn btn-sm btn-primary" id="rgitinte-add" style="display: none;" onclick="project_details.addGitInte()"><i class="fas fa-plus"></i> New git integration</button>
                            </span>
                        </div>
                        <p class="w-100" id="rgitinte-status">Loading...</p>
                        <div class="card w-100 mt-1" style="display: none;" id="rgitinte-card">
                            <ul class="list-group list-group-flush" id="rgitinte-list">
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class="row mt-4 mx-3" id="collabs-row">
                        <div class="w-100">
                            <h4 class="d-inline">Collaborators:</h4>
                        </div>
                        <p class="w-100" id="collabs-status">Loading...</p>
                        <div class="card w-100 mt-1" style="display: none;" id="collabs-card">
                            <ul class="list-group list-group-flush" id="collabs-list">
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class="row mt-4 mx-3" id="domains-row">
                        <div class="w-100">
                            <h4 class="d-inline">Custom domains:</h4>
                        </div>
                        <p class="w-100" id="domains-status">Loading...</p>
                        <div class="card w-100 mt-1" style="display: none;" id="domains-card">
                            <ul class="list-group list-group-flush" id="domains-list">
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class="row mt-4 mx-3" id="plugins-row">
                        <div class="w-100">
                            <h4 class="d-inline">Plugins usage:</h4>
                        </div>
                        <p class="w-100" id="plugins-status">Loading...</p>
                        <div class="card w-100 mt-1" style="display: none;" id="plugins-card">
                            <ul class="list-group list-group-flush" id="plugins-list">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("../default/footer.ejs") %>
        </div>

        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="detailsModal-body">
                        <button type="button" class="btn btn-primary mb-2" id="detailsShowHide-button" onclick="project_details.toggleHiddenDetails()">Hide details</button>
                        <div id="detailsModal-content">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close details</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="deleteModal-content">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="deleteModal-confirm" onclick="project_details.confirmDelete()"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addGitInte-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New git integration</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="gitinte-provider">Select a provider:</label>
                            <div class="input-group mb-3">
                                <select class="custom-select" id="gitinte-provider" onchange="project_details.gitInteProviderChosen()">
                                    
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gitinte-provider">Select a repository:</label>
                            <div class="input-group mb-3">
                                <select class="custom-select" id="gitinte-repo" onchange="project_details.gitInteRepoChosen()">
                                    
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gitinte-provider">Select a branch:</label>
                            <div class="input-group mb-3">
                                <select class="custom-select" id="gitinte-branch" onchange="project_details.gitInteBranchChosen()">
                                    
                                </select>
                            </div>
                        </div>

                        <div id="gitinte-viewaccount">
                            <p class="mb-1">This provider is not linked to your account:</p>
                            <a class="btn btn-secondary ml-md-2" href="/panel/users/me">Link provider</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="gitinte-confirm" disabled onclick="project_details.confirmAddGitInte()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
