<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        <script>
        const current = "<%- user.name %>";
        const edit = <% if (isEdit()) { %>true; const values=JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(edit)) %>"))<% } else { %>false<% } %>;
        </script>
        <%- startPageScript("project_manage") %>
        
        <header>
            <%- include("../default/header.ejs") %>
        </header>
        <%- include("../default/loading.ejs") %>
        <div class="container-fluid" id="main-container">
            <div class="row mt-3 mx-3" id="details-row">
                <div class="w-100">
                    <h3 class="d-inline"><%- getIfEdit("Edit a", "Create a new") %> project:</h3>
                    <a href="<%- getIfEdit('../') %>list" class="my-1 btn btn-sm btn-secondary float-right"><i class="fas fa-times"></i> Cancel</a>
                </div>
                <form class="mt-3 w-100" onsubmit="return project_manage.confirm();">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-project-name" class="mb-1">Project name:</label>
                                <input type="text" required class="form-control" id="input-project-name" pattern="[a-z-0-9]{4,32}" value="<%- getEditParam('name') %>" <%- getIfEdit(" disabled",  "") %> placeholder="Project name (4 to 32 chars. from a-z, 0-9 and special -)">
                                <% if(isEdit() == false) { %>
                                    <small id="name-confirm" class="form-text text-muted">This name is definitive, you won't be able to change it later. Select it carefully.</small>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-plugins" class="mb-1">Plugins:</label>
                                <input type="text" data-role="tagsinput" class="form-control" id="input-plugins" placeholder="Start typing to select plugins">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="input-collaborators" class="mb-1">Collaborators:</label>
                                <input type="text" class="form-control" id="input-collaborators" placeholder="Enter a collaborator and press Enter">
                                <small id="name-confirm" class="form-text text-muted">Collaborators will be added in view-only mode. Open Details to change permissions when the project is created.</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label class="mb-1 d-block w-100">Environment variables:</label>
                            <div class="form-group mb-0" id="env-list">
                                    
                            </div>
                            <button type="button" class="btn btn-sm btn-primary" id="button-add-env" onclick="project_manage.addEnv()"><i class="fas fa-plus"></i> Add an environment variable</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label class="mb-1 d-block w-100">Custom domains:</label>
                            <div class="form-group mb-0" id="domains-list">
                                
                            </div>
                            <button type="button" class="btn btn-sm btn-primary" id="button-add-domain" onclick="project_manage.addDomain()"><i class="fas fa-plus"></i> Add a custom domain</button>
                            <small id="domain-info" class="form-text text-muted" style="display: none;">As you've enabled custom domains, don't forget to use <i>ns1.<%- process.env.ROOT_DOMAIN %></i> and <i>ns2.<%- process.env.ROOT_DOMAIN %></i> as nameservers.</small>
                        </div>
                    </div>
                    <button type="submit" id="confirm-button" class="btn btn-primary btn-lg btn-block mt-5"><% if(isEdit()) { %>Save<% } else {%>Create<% } %> this project</button>
                </form>
            </div>
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Save confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmModal-content">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="button-confirm-save" onclick="project_manage.confirmSave()">Confirm save</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
