<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        <%- startPageScript("docker_details") %>
        <script>
        window.nameOrId = "<%- value %>";
        </script>
        
        <header>
            <%- include("../default/header.ejs") %>
        </header>
        <div class="container-fluid">
            <div class="row mt-3 mx-3" id="title-row">
                <div class="w-100">
                    <h3 class="d-inline">Container details:</h3>
                    <div id="status-msg">Loading details...</div>
                </div>
            </div>
        </div>
    </body>
</html>
