<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        <script>
        const edit = <% if (isEdit()) { %>true; const values=JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(edit)) %>"))<% } else { %>false<% } %>;
        window.domains = JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(domains)) %>"));
        </script>
        <%- startPageScript("mails_managealias", ["/static/js/unixcrypt.dist.js"]) %>
        
        <header>
            <%- include("../default/header.ejs") %>
        </header>
        <%- include("../default/loading.ejs") %>
        <div class="container-fluid" id="main-container">
            <div class="row mt-3 mx-3" id="details-row">
                <div class="w-100">
                    <h3 class="d-inline"><%- getIfEdit("Edit a", "Create a new") %> mail alias:</h3>
                    <a href="/panel/mails/users" class="my-1 btn btn-sm btn-secondary float-right"><i class="fas fa-times"></i> Cancel</a>
                </div>
                <form class="mt-3 w-100" onsubmit="return mails_managealias.confirm();">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input-username" class="mb-1">Alias source (username and domain):</label>
                                <div class="input-group mb-3">
                                    <input type="text" required class="form-control<%- getIfEdit(' always-disabled') %>" id="input-username" pattern="^[a-z0-9.-_]{2,50}$" <%- getIfEdit(" disabled",  "") %> placeholder="contact">
                                    <div class="input-group-append input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <select required class="form-control custom-select" id="input-domain" <%- getIfEdit(" disabled",  "") %>>
                                    
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input-destination" class="mb-1">Destination:</label>
                                <input type="email" class="form-control" id="input-destination" value="<%- getEditParam('destination') %>" required placeholder="Mails send to this alias will be redirected to this email.">
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="confirm-button" class="btn btn-primary btn-lg btn-block mt-2"><% if(isEdit()) { %>Save<% } else {%>Create<% } %> this alias</button>
                </form>
            </div>
        </div>
    </body>
</html>
