<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        <script>
        window.emails = JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(emails)) %>"));
        window.noDashboardRedirect = <%- noDashboardRedirect ? "true" : "false" %>;
        </script>
        <%- startPageScript("mails_passwords", ["/static/js/unixcrypt.dist.js"]) %>
        
        <div id="page">
            <header>
                <%- include("../default/header.ejs") %>
            </header>
            
            <div id="page-contents">
                <%- include("../default/loading.ejs") %>
                <div class="container-fluid" id="main-container">
                    <div class="row mt-3 mx-3">
                        <h2 class="w-100">Oops, it looks like <span id="missing-some">some</span> of your emails don't have a password yet...</h2>
                        <p>Please fill in the passwords below to <span class="to-other" style="display: none;">continue</span><span class="to-dashboard">access your dashboard</span>:</p>
                    </div>
                    <div class="row mt-2 mx-2">
                        <div class="container-fluid">
                            <form onsubmit="return mails_passwords.sendForm()">
                                <div id="passwords-list">
        
                                </div>
                                <button type="submit" id="confirm-button" class="btn btn-primary btn-lg btn-block mt-4">Save and continue<span class="to-dashboard"> to dashboard</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
