<!DOCTYPE html>
<html>
	<head>
		<%- include("../../default/head.ejs") %>
	</head>
	<body>
		<%- include("../../default/flash.ejs") %>
		<div class="container">
			<div class="row justify-content-md-center h-100">
				<div class="col-md-4 my-auto">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title text-center mb-4 mt-1">Email change allowed</h4>
							<hr>
                            <p>You allowed the update of the email of your Platform Manager account from <i><%= fromemail %></i> to <i><%= toemail %></i>.<br/><br/>
                            You can still deny this request if you change your mind using the button below or the cancel link from your account.</p>
                            
                            <a href="/panel/users/me" class="btn btn-primary text-white btn-block">Back to My Account</a>
                            <a href="/panel/login/emailChange/deny/<%= hash %>" class="btn btn-secondary text-white btn-sm btn-block">Deny this request</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
