<html>
    <head>
        <%- include("../../default/head.ejs") %>
    </head>
    <body>
        <%- include("../../default/flash.ejs") %>
        <%- include("../../default/api.ejs") %>
        <%- startPageScript("docker_clist", ["/socket.io/socket.io.js"]) %>
        
        <div id="page">
            <header>
                <%- include("../../default/header.ejs") %>
            </header>
            
            <div id="page-contents">
                <%- include("../../default/loading.ejs") %>
                <div class="container-fluid" id="main-container">
                    <div class="row mt-3 mx-3" id="details-row">
                        <div class="w-100">
                            <h3 class="d-inline">List of running docker containers:</h3>
                        </div>
                    </div>
                    <div class="row mt-3 mx-3" id="projects-row">
                        <div class="w-100">
                            <h4 class="d-inline">Project containers:</h4>
                        </div>
                        <p class="w-100 status-msg" id="projects-status">Loading...</p>
                        <div class="card w-100 mt-1" style="display: none;" id="projects-card">
                            <ul class="list-group containers-list list-group-flush" id="projects-list">
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class="row mt-3 mx-3" id="platform-row">
                        <div class="w-100">
                            <h4 class="d-inline">Secondary platform containers:</h4>
                        </div>
                        <p class="w-100 status-msg" id="platform-status">Loading...</p>
                        <div class="card w-100 mt-1" style="display: none;" id="platform-card">
                            <ul class="list-group list-group-flush containers-list" id="platform-list">
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class="row mt-3 mx-3" id="others-row">
                        <div class="w-100">
                            <h4 class="d-inline">Unrecognized containers:</h4>
                        </div>
                        <p class="w-100 status-msg" id="others-status">Loading...</p>
                        <div class="card w-100 mt-1" style="display: none;" id="others-card">
                            <ul class="list-group list-group-flush containers-list" id="others-list">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("../default/footer.ejs") %>
        </div>
    </body>
</html>
