<html>
	<head>
		<%- include("../default/head.ejs") %>
	</head>
	<body>
		<%- include("../default/flash.ejs") %>
		<div class="container">
			<div class="row justify-content-md-center h-100">
				<div class="col-lg-4 col-md-8 my-auto">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title text-center mb-4 mt-1"><%= site.title %></h4>
							<% if(sso != undefined) { %>
								<h6 class="text-center" style="margin-top: -10px;">Enter your credentials to enter<br/><%= ssoname %></h6>
							<% } %>
							<hr>
							<form method="POST" action="/panel/login" class="mb-1">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i class="fas fa-user"></i> </span>
										</div>
										<input required name="username" class="form-control" placeholder="User" type="text">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i class="fas fa-lock"></i> </span>
										</div>
										<input required class="form-control" type="password" name="password" placeholder="Password" type="password">
									</div>
								</div>
								<% if(sso != undefined) { %>
									<input type="hidden" name="sso" value="<%- sso %>">
								<% } %>
								<% if(query != undefined) { %>
									<input type="hidden" name="query" value="<%- Buffer.from(JSON.stringify(query)).toString('base64') %>">
								<% } %>
								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">Login</button>
								</div>

								<a href="/panel/login/passwordReset" class="btn btn-secondary text-white btn-sm btn-block">Request a new password</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
